/* IMG_4567 - copie 1 */

/* position: absolute;
width: 441px;
height: 553px;
left: 73px;
top: 28px;

background: url(IMG_4567 - copie.jpg); */

body {
    background-color: rgb(244, 244, 244);
}

.hautpage {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

h1 {
    position:relative;
    top: 30px;
    left: 200px;
    font-size: 36pt;
    text-shadow: 2px 3px 2px;
}

#photo {
    position: relative;
    top:20px; left: 150px;
    width: 200px;
}

#contact {
    position: relative;
    justify-content: center;
    top: 120px;
    right : 190px;
    font-size: 24pt;
}

#experience {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 2px solid red;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 60%;
}

#formation {
    display: flex;
    justify-content: center;
    border-top: 2px solid red;
    padding-top: 20px;
    padding-bottom: 50px;
    width:60%;
}

.basdepage {
    display:flex;
    justify-content:center;
}

#competences {
    justify-content: center;
    border-top: 2px solid red;
    padding-top: 20px;
    margin-left: 250px;
    width: 20%;
}

#loisirs {
    justify-content: center;
    border-top: 2px solid red;
    padding-top: 20px;
    margin-right: 250px;
    width: 20%;
}

.desc {
    text-align: center;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}