@font-face {
    font-family: 'open_sansregular';
    src: url('../Fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('../Fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'odor_mean_cheyregular';
    src: url('../Fonts/odormeanchey-regular-webfont.woff2') format('woff2'),
         url('../Fonts/odormeanchey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: rgb(244, 244, 244);
}

.hautpage {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

h1 {
    font-family: 'odor_mean_cheyregular';
    position:relative;
    top: 60px;
    left: 200px;
    font-size: 36pt;
    text-shadow: 2px 3px 5px;
    color: rgb(16, 15, 15);
}

#photo {
    position: relative;
    top:20px; left: 150px;
    width: 250px;
}

#contact {
    font-family: 'open_sansregular';
    position: relative;
    justify-content: center;
    top: 170px;
    right : 170px;
    font-size: 20pt;
}

#experience {
    display: flex;
    justify-content: center;
    align-content: center;
    border-top: 4px solid red;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 60%;
}

#formation {
    display: flex;
    justify-content: center;
    border-top: 4px solid red;
    padding-top: 20px;
    padding-bottom: 50px;
    width:60%;
}

.basdepage {
    display:flex;
    justify-content:center;
}

#competences {
    justify-content: center;
    border-top: 4px solid red;
    padding-top: 20px;
    margin-left: 250px;
    width: 20%;
}

#loisirs {
    justify-content: center;
    border-top: 4px solid red;
    padding-top: 20px;
    margin-right: 250px;
    width: 20%;
}

.desc {
    text-align: center;
    font-family: 'open_sansregular';
}

h2 {
    text-align: center;
    font-family: 'open_sansregular';
    padding-bottom: 10px;
    text-shadow: 2px 2px 2px;
}

@media screen and (max-width: 480px) {
    body {
    background-color: lightgreen;
    }}